<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %> (<%= session.code %>)</title>
	<link rel="stylesheet" href="/stylesheets/style.min.css">
	<link rel="stylesheet" type="text/css" href="/libs/dropzone/downloads/css/dropzone.css">
	<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/libs/dropzone/downloads/dropzone.min.js"></script>
	<script src="/javascripts/scripts.js" type="text/javascript"></script>
	<script>var session_code = '<%= session.code %>';</script>
</head>
<body>