<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %> (<%= session.code %>)</title>
	<link rel="stylesheet" href="/stylesheets/style.min.css">
	<link rel="stylesheet" type="text/css" href="/libs/dropzone/downloads/css/dropzone.css">
	<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/libs/dropzone/downloads/dropzone.min.js"></script>
	<script src="/javascripts/scripts.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<script>var session_code = '<%= session.code %>';</script>
</head>
<body>
<div id="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<a href="/">
					<div id="logo-img">
						<img src="https://cdn0.iconfinder.com/data/icons/195-flat-flag-psd-icons/70/Malta.png" alt="">
					</div>
					
					<h2 id="logo">
						MPD
					</h2>
				</a>
				
				<small id="logo-slogan" class="hidden-xs">Malta print documents</small>

				<div id="menu_container">
					<ul>
						<li><a href="#upload">UPLOAD</a></li>
						<li><a href="#">HOW DOES IT WORK</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>