doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    block content
    script(src='http://127.0.0.1:35729/livereload.js', type='text/javascript')